GOOGLE_CREDENTIALS_FILE=credentials.json
SERVICE_ACCOUNTS_DIR=C:\Users\yash\Documents\Projects\MLTBBotFiles\Bot credentials\accounts
DRIVE_FOLDER_ID=your_root_folder_id_here
FACE_SIMILARITY_THRESHOLD=0.6
ADMIN_PASSWORD=admin123
SECRET_KEY=ThisIsMyLongSecretKeyForJWT
